minio:
  enabled: false

kafka:
  enabled: false

global:
  extraEnvFrom:
    - secretRef:
        name: {{ mimir_s3_secret_name }}
  podAnnotations:
    mimirS3SecretVersion: "{{ mimir_bucket_secret_version }}"

mimir:
  structuredConfig:
    ingester:
      push_grpc_method_enabled: true

    ingest_storage:
      enabled: false

    common:
      storage:
        backend: s3
        s3:
          endpoint: {{ mimir_s3_endpoint | quote }}
          region: {{ mimir_s3_region | quote }}
          access_key_id: ${AWS_ACCESS_KEY_ID}
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          insecure: {{ mimir_s3_insecure | bool | lower }}
          bucket_lookup_type: path

    blocks_storage:
      backend: s3
      s3:
        bucket_name: {{ mimir_s3_bucket_blocks | quote }}
        endpoint: {{ mimir_s3_endpoint | quote }}
        region: {{ mimir_s3_region | quote }}
        access_key_id: ${AWS_ACCESS_KEY_ID}
        secret_access_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: {{ mimir_s3_insecure | bool | lower }}
        bucket_lookup_type: path

    alertmanager_storage:
      backend: s3
      s3:
        bucket_name: {{ mimir_s3_bucket_alertmanager | quote }}
        endpoint: {{ mimir_s3_endpoint | quote }}
        region: {{ mimir_s3_region | quote }}
        access_key_id: ${AWS_ACCESS_KEY_ID}
        secret_access_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: {{ mimir_s3_insecure | bool | lower }}
        bucket_lookup_type: path

    ruler_storage:
      backend: s3
      s3:
        bucket_name: {{ mimir_s3_bucket_ruler | quote }}
        endpoint: {{ mimir_s3_endpoint | quote }}
        region: {{ mimir_s3_region | quote }}
        access_key_id: ${AWS_ACCESS_KEY_ID}
        secret_access_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: {{ mimir_s3_insecure | bool | lower }}
        bucket_lookup_type: path

alertmanager:
  replicaCount: 1
  persistentVolume:
    storageClass: {{ mimir_storage_class_name | quote }}

compactor:
  replicaCount: 1

distributor:
  replicaCount: 1

ingester:
  replicaCount: 2

querier:
  replicaCount: 1

query_frontend:
  replicaCount: 1

query_scheduler:
  replicaCount: 1

ruler:
  replicaCount: 1

store_gateway:
  replicaCount: 1

gateway:
  enabledNonEnterprise: true
  replicaCount: 1

admin-cache:
  enabled: true

chunks-cache:
  enabled: true

index-cache:
  enabled: true

metadata-cache:
  enabled: true

results-cache:
  enabled: true

rollout_operator:
  enabled: false
