apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ mimir_ingress_name }}
  namespace: {{ mimir_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
spec:
  ingressClassName: {{ ingress_nginx_class_name | quote }}
  rules:
{% if mimir_ingress_host | length > 0 %}
    - host: {{ mimir_ingress_host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ mimir_gateway_service_name }}
                port:
                  number: {{ mimir_gateway_service_port }}
{% else %}
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ mimir_gateway_service_name }}
                port:
                  number: {{ mimir_gateway_service_port }}
{% endif %}
